<!DOCTYPE html>
<html>
    <head>
        <title>Top 10 atp players</title>
        <author>Nikola Đokić</author>
        <version>2.0</version>
        <link rel='stylesheet' href='/styles/main.css' />
    </head>
    
    <body>
        <h1>
            Top 10 atp players
        </h1>

        <div class="form-center" style="margin-top: 30px;">
            Download data in CSV format:  
            <button><a href="\opendata\atp_players.csv" download>Download</a></button>
        </div><br/>
        <div class="form-center">
            Download data in JSON format:  
            <button><a href="\opendata\atp_players.json" download>Download</a></button>
        </div><br/>
        <div class="form-center">
            Explore data in your browser:
            <button on><a href="https://localhost:4080/datatable">Open</a></button>
        </div><br/>
        <br/><br/>
        <div style="margin-left: 50px; margin-top: 30px">
            Metapodaci: <br/>
            Licencija: MIT License
            Autor: Nikola Đokić
            Verzija: 2.0
            Jezik: Engleski
            Datum: 15.11.2022.
        </div>
        <div style="margin-left: 50px; margin-top: 30px">
| Atribut    | Pojašnjenje                                               | <br/>
|------------|-----------------------------------------------------------| <br/>
| firstName  | Ime tenisača                                              | <br/>
| lastName   | Prezime tenisača                                          | <br/>
| dob        | Datum rođenja tenisača                                    | <br/>
| weight     | Težina tenisača                                           | <br/>
| height     | Visina tenisača                                           | <br/>
| atprank    | Pozicija na atp ljestvici                                 | <br/>
| coach      | Ime i prezime tenisačeva trenera                          | <br/>
| stronghand | Dominantna ruka tenisača                                  | <br/>
| country    | Država porijekla tenisača                                 | <br/>
| tournament | Podaci o zadnja dva turnira na kojima je nastupao tenisač | <br/>
| city       | Grad turnira                                              | <br/>
| tier       | Atp razina turnira                                        | <br/>
| result     | Plasman tenisača                                          | <br/>
        </div>
    </body>
</html>