<!DOCTYPE html>
<html>
    <head>
        <title>ATP Tenisači</title>
        <link rel='stylesheet' href='/styles/main.css' />
    </head>
    
    <body style="text-align: center;">
        <h1>
            TOP ATP Tenisači
        </h1>
        <h2>
            <button on class="log">
                <a href="https://localhost:4080/login" class="btn-text"> LOG IN </a>
            </button>
        </h2>
    </body>
</html>